[submodule "heimdall-frontend"]
	path = heimdall-frontend
	url = https://github.com/David-Development/heimdall-frontend.git
[submodule "heimdall-backend"]
	path = heimdall-backend
	url = https://github.com/David-Development/heimdall-backend.git
[submodule "emq_docker"]
	path = emq_docker
	url = https://github.com/emqtt/emq_docker.git
